<!DOCTYPE html>
<html xmlns:thj="http://www.thymeleaf.org" lang="ja" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Category List</title>
</head>

<body>
    <div th:replace="~{header/header :: header}"></div>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center pb-5">
            <h1 class="title">Category List</h1>
            <a class="btn btn-primary" th:href="@{'/register/category/' + ${userId}}">Create New Category</a>
        </div>

        <div class="table-responsive">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Category</th>
                        <th scope="col"># of words</th>
                        <th scope="col">Created</th>
                        <th scope="col" class="text-center">Add</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="category, iterStat : ${categories}">
                        <td th:text="${iterStat.index + 1}"></td>
                        <td>
                            <a th:href="@{'/flashcard/start/' + ${category.userId} + '?category=' + ${category.categoryName}}"
                                th:text="${category.categoryName}">
                            </a>
                        </td>
                        <td th:text="${wordListLength[iterStat.index]}"></td>
                        <td th:text="${category.createdAt}"></td>
                        <td class="text-center">
                            <a class="btn btn-outline-primary"
                                th:href="@{'/register/word/' + ${category.userId} + '?category=' + ${category.categoryName}}">add</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

</html>